@page

<link href="~/css/demo.css" rel="stylesheet" />

<h4>Rubrik</h4>
<div class="row">
    <div class="col bg-primary">
        Kolumn 1
    </div>
    <div class="col bg-warning">
        Kolumn 2
    </div>
    <div class="col bg-warning">
        Kolumn 2
    </div>
</div>
<h4>Rubrik 3 rader "sm"</h4>
<div class="row">
    <div class="col-sm bg-primary">
        Kolumn 1
    </div>
    <div class="col-sm bg-warning">
        Kolumn 2
    </div>
    <div class="col-sm bg-danger">
        Kolumn 2
    </div>
</div>
<h4>Rubrik 3 rader "lg"</h4>
<div class="row">
    <div class="col-lg bg-primary">
        Kolumn 1
    </div>
    <div class="col-lg bg-warning">
        Kolumn 2
    </div>
    <div class="col-lg bg-danger">
        Kolumn 2
    </div>
</div>
<h4>Rubrik 3 rader "mitten bred"</h4>
<div class="row">
    <div class="col-sm bg-primary">
        Kolumn 1
    </div>
    <div class="col-lg-9 bg-warning">
        Kolumn 2
    </div>
    <div class="col-sm bg-danger">
        Kolumn 3
    </div>
</div>

<h4>Rubrik de mittersta är en kolumn</h4>
<div class="row">
    <div class="col-sm bg-primary">
        Kolumn 1
    </div>
    <div class="col-sm bg-warning">
       <div class="col-l-2 bg-warning">
            Kolumn 2
        </div> 
        <div class="col-2 bg-warning">
            Kolumn 2
        </div>
    </div>
    <div class="col-sm bg-danger">
        Kolumn 3
    </div>
</div>

<div class="card">
    <div class=" card-header">
        <h1>Header</h1>
    </div>
    <div class=" card-body"><div>Body text</div></div>
    <div class=" card-footer"><p>footer</p></div>
</div>
<div class="card">
    <div class=" card-header">
        <h1>Header</h1>
    </div>
    <div class=" card-body"><div>Body text</div></div>
    <div class=" card-footer"><p>footer</p></div>
</div>
<div class="card">
    <div class=" card-header">
        <h1>Header</h1>
    </div>
    <div class=" card-body"><div>Body text</div></div>
    <div class=" card-footer"><p>footer</p></div>
</div>