@page
    <link href="~/css/demo.css" rel="stylesheet" />
<style>
    .grayContainer{
        background-color: dimgrey;
        width: auto;
        height: 100px;
        margin-bottom: 20px;
    }
</style>


<div class="container">

    <h4>Rubrik 3 rader "mitten bred"</h4>
    <div class="row">
        <div class="col bg-primary">
            Kolumn 1
        </div>
        <div class="col-auto bg-warning">
            Kolumn 2asdasdasdasd
        </div>
        <div class="col bg-danger">
            Kolumn 3
        </div>
    </div>

    <div class="row grayContainer">

        <div class="col-sm bg-success">
            Kolumn 1
        </div>
        <div class="col-sm bg-danger">
            Kolumn 2asdasdasdasd
        </div>
        <div class="col-sm bg-warning">
            Kolumn 3
        </div>
    </div>

    <div class="row grayContainer align-items-center">
        <div class="col bg-primary">
            Kolumn 1
        </div>
        <div class="col-auto bg-warning">
            Kolumn 2asdasdasdasd
        </div>
        <div class="col bg-danger">
            Kolumn 3
        </div>
    </div>


    <div class="row">
        <div class="col-3 offset-1">Offe 1</div>
        <div class="col-3 offset-5">Offe 5</div>
    </div>


</div>

   




