@page
    <link href="~/css/demo.css" rel="stylesheet" />

<style>
    .gray{
        border: 1px solid black;
        text-align: center;
        background-color: grey;
    }
</style>

<div class="container">


    <div class="row">
        <div class="col-4">
            <div class="row">
                <div class="col-3 gray">&nbsp;</div>
                <div class="col-3 gray">&nbsp;</div>
            </div>
        </div>
        <div class="col-8">
        </div>
    </div>


    <div class="row justify-content-center">

        <div class="col-4">
            <div class="row justify-content-center">
                <div class="col-1 gray">&nbsp;</div>
                <div class="col-1 gray">&nbsp;</div>
            </div>
        </div>


    </div>

    <h4>Rubrik för mediaobjekt</h4>
    <div class="media border">
        <img src="~/img/cat.jpg" width="40" class="mr-3" alt="...">
        <div class="media-body">
            <h5 class="mt-0">Media heading</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
    </div>
    <div class="media border">
        <img src="~/img/cat.jpg" width="40" class="mr-3 align-self-end" alt="...">
        <div class="media-body">
            <h5 class="mt-0">Media heading</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
        
    </div>

</div>

