@page
<div class="container">
    <h1>Rubrik h1</h1>
    <h3>Rubrik h3</h3>

    <h3>Unorderad list</h3>
    <ul>
        <li>1</li>
        <li>2</li>
        <li>3
            <ul>
                <li>3.1</li>
                <li>3.2</li>

            </ul></li>

      
    </ul>

    <h3>Ordered list</h3>
    <ol>
        <li>1</li>
        <li>2</li>
        <li>3</li>
    </ol>


    <table class="table table-secondary">
        <thead class="thead-dark ">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Arne</td>
                <td>Jönsson</td>
                <td>32</td>
            </tr>
            <tr>
                <td>Arne</td>
                <td>Jönsson</td>
                <td>32</td>
            </tr>
            <tr>
                <td>Arne</td>
                <td>Jönsson</td>
                <td>32</td>
            </tr>
        </tbody>
        
    </table>
</div>