@page

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<div class="container">

    <h4> Responsive Image </h4>
    <img src="~/img/cat150.jpg" class="img-fluid" />
    <h4>thumbnnails</h4>
    <img src="~/img/cat150.jpg" class="img-thumbnail" />
    <img src="~/img/cat150.jpg" class="img-thumbnail" />
    <img src="~/img/cat150.jpg" class="img-thumbnail" />

</div>