@page
<style>
    div {
        background-color: azure;
        border: solid 1px cadetblue,

    }
    div div {

    }
</style>

<div class="d-flex">
    Im a flexbox container
</div>

<div class="d-flex flex-row justify-content-center">
    <div>Flex item 1</div>
    <div class="align-self-center">Flex item 1</div>
    <div>Flex item 1</div>

</div>