@page

<div class="container">
    <h4>Två vanliga kolumner</h4>
    <div class="row" style="margin-bottom:20px">
        <div class="col" style="background: yellowgreen">

            <p>En kolumn</p>
            <p>En kolumn</p>
            <p>En kolumn</p>
            <p>En kolumn</p>

        </div>
        <div class="col" style="background: blueviolet">
            <p>En kolumn</p>
            <p>En kolumn</p>
            <p>En kolumn</p>
        </div>
    </div>

    <h4>Två responsiva kolumner</h4>
    <div class="row" style="margin-top:10px">
        <div class="col-lg-6" style="background: yellowgreen">

            <p>En kolumn</p>
            <p>En kolumn</p>
            <p>En kolumn</p>
            <p>En kolumn</p>

        </div>
        <div class="col-lg-6" style="background: blueviolet">
            <p>En kolumn</p>
            <p>En kolumn</p>
            <p>En kolumn</p>
        </div>
    </div>

    <div class="row">
        <img src="img/cat.jpg" class="img-fluid" />

        <table class="table table-light">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
