@page

<style>    
    a {
        display: block;
    }
</style>

<div class="container">
    <h1>Bootstrap</h1>

    <a class="p-2" href="B1-Grid">B1-Grid</a>
    <a class="p-2" href="B2-Grid">B2-Grid</a>
    <a class="p-2" href="B3-Grid">B3-Grid</a>
    <a class="p-2" href="B4-Tables">B4-Tables</a>
    <a class="p-2" href="B5-Images">B5-Images</a>
    <a class="p-2" href="B6-Forms">B6-Forms</a>
    <a class="p-2" href="B7-Spacing">B7-Spacing</a>
    <a class="p-2" href="B8-Flex">B8-Flex</a>

</div>